.NewTransaction {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.NewTransaction form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.NewTransaction form,label {
    width: 70%;
}

.NewTransaction select {
    padding: 5px;
    width: 100%;
}

.NewTransaction input {
    padding: 5px;
    margin-bottom: 10px;
}

.NewTransaction button {
    padding: 5px;
    background-color: #ffd200;
    border: 1px solid #ffd200;
}

.InputDiv {
    display: flex;
    flex-direction: column;
    width: 70%;
}

@media (min-width: 500px) {
    .NewTransaction form {
        width: 30%;
    }
}