.Accounts {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 90%;
}

.Left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.Right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.Table {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.Table tbody, tr {
    width: 100%;
}

.Table tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #7a7a7a;
    border-collapse: collapse;
}

.Table td, th {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    
}

.Button {
    align-self: center;
    width: 100%;
    padding: 8px;
    background-color: #ffd200;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 16px;
}


@media (min-width: 500px) {
    .Accounts {
        flex-flow: row;
    }

    .Left {
        width: 60%;
    }

    .Right {
        width: 40%;
        justify-content: flex-start;
    }

    .Table {
        width: 90%;
    }

    .Button {
        width: 60%;
    }
    
}

