.NewAccount {
    display: flex;
    flex-direction: column;
}

.NewAccount input {
    margin-bottom: 5px;
    
}

.Button {
    padding:5px;
    background-color: #ffd200;
    border: 1px solid;
    border-radius: 5px;
}