.Customer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    font-family: 'Roboto', sans-serif;
}

.FormDiv {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 18px;
}

.LabelDiv {
    display: flex;
    align-items: flex-start;
    width: 50%;
}

.LabelDiv select {
    padding: 5px;
    width: 200px;
    font-size: 16px;
}

.DataDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.Button {
    align-self: center;
    width: 50%;
    padding: 8px;
    background-color: #ffd200;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}

@media (min-width: 500px) {
    
    .Customer {
        width: 90%;
        
    }

    .FormDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 90%;
        font-size: 18px;
    }

    .DataDiv {
        
        width: 50%;
    }

    .LabelDiv {
        justify-content: center;
    }

    .Button {
        width: 30%;
    }

}